@charset "UTF-8";
main {
  width: 315px;
  margin: 130px auto 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contactTxt {
  text-align: center;
}
input,
textarea {
  border: 2px solid #d9d9d9;
  width: 315px;
}
textarea {
  height: 200px;
}
button {
  margin: 0 auto;
  padding: 5px;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--maincolor);
}
button:hover {
  background-color: var(--maincolor);
  transition: 0.5s;
  color: #fff;
}
