@charset "UTF-8";
/* common */
html {
  font-size: 62.5%;
}
:root {
  --basecolor: #fcfcfc;
  --maincolor: #f66904;
  --accentcolor: #1d3989;
}
body {
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
}
h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
  text-shadow: 40px 8px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
h1 {
  font-size: 2.4rem;
  text-shadow: none;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.4rem;
  text-shadow: none;
}
p {
  font-family: "Zen Maru Gothic", sans-serif;
}
header,
#profile,
#works {
  width: 1000px;
}
#profile,
#works {
  margin: 0 auto;
}

.tab,
.sp {
  display: none;
}
@media screen and (max-width: 1023px) {
  header,
  #profile,
  #works {
    width: 700px;
  }
  .tab {
    display: block;
  }
  @media screen and (max-width: 767px) {
    header {
      width: 300px;
    }
    #profile,
    #works {
      width: 315px;
    }
  }
  .sp {
    display: block;
  }
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: fixed;
  top: 30px;
  left: 50%;
  z-index: 10000;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 10px;
}
nav {
  display: flex;
  gap: 20px;
  font-size: 2rem;
}
.header_menu {
  display: none;
}
@media screen and (max-width: 1023px) {
  header {
    position: relative;
  }
  header.open {
    align-items: start;
    height: 350px;
  }
  nav {
    position: absolute;
    top: 123px;
    left: 15px;
    flex-direction: column;
    display: none;
  }
  .header_menu {
    display: block;
    width: 50px;
    height: 50px;
  }
  .header_menu span {
    display: block;
    height: 1px;
    width: 25px;
    background-color: #000;
    transition: 0.4s;
  }
  .header_menu span:nth-of-type(1) {
    margin: 15px auto 0;
  }
  .header_menu span:nth-of-type(2) {
    margin: 10px auto;
  }
  .header_menu span:nth-of-type(3) {
    margin: 0 auto 15px;
  }
  .header_menu.open span:nth-of-type(1) {
    transform: rotate(45deg) translate(8px, 8px);
  }
  .header_menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .header_menu.open span:nth-of-type(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }
}
/* mainVisual */
.mainVisual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-image: url(../img/top/mainvisual_img.png);
  background-position: center;
  background-size: cover;
}
.mainVisual_container {
  width: 1000px;
  margin: 0 auto;
  padding: 150px 0 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.mainVisual_txt {
  color: #fff;
}
.mainVisual_txt p:nth-of-type(1) {
  font-size: 2.4rem;
}
.mainVisual_txt p:nth-of-type(2) {
  font-size: 4.8rem;
  font-family: "Lato", sans-serif;
  margin: 20px 0;
}
.mainVisual_txt p:nth-of-type(2) span {
  font-size: 4rem;
  font-weight: 400;
}
.mainVisual_txt p:nth-of-type(3) {
  font-size: 2rem;
}
.mainVisual_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 3px solid var(--accentcolor);
  border-radius: 10px;
  background-color: #fff;
  width: 290px;
  height: 110px;
  padding: 10px;
  font-weight: 400;
  font-size: 2.4rem;
  box-shadow: 10px 10px 4px var(--accentcolor);
}
@media screen and (max-width: 1023px) {
  .mainVisual_container {
    width: 700px;
  }
  @media screen and (max-width: 767px) {
    .mainVisual_container {
      width: 315px;
    }
    .mainVisual_btn {
      flex-direction: column;
      gap: 50px;
    }
    .btn {
      width: 210px;
      height: 90px;
    }
  }
}

/* profile */
#profile {
  margin-top: 764px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 1023px) {
  #profile {
    margin-top: 674px;
  }
  @media screen and (max-width: 767px) {
    #profile {
      margin-top: 876px;
    }
  }
}

/* intro */
.intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.intro div {
  width: 485px;
}
.intro div p:first-of-type {
  font-size: 2rem;
}
.intro div p:first-of-type span {
  font-family: "Lato", sans-serif;
}
.intro div p:last-of-type {
  font-size: 1.6rem;
  font-weight: 400;
}
@media screen and (max-width: 1023px) {
  .intro {
    justify-content: space-between;
  }
  .intro div {
    width: 335px;
  }
  @media screen and (max-width: 767px) {
    .intro {
      flex-direction: column;
    }
    .intro div {
      width: 315px;
      margin-top: 30px;
    }
  }
}
/* likes */
.likes_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.likes_item {
  width: 150px;
  height: 250px;
}
.likes_item p {
  text-align: center;
  font-size: 2rem;
  height: 90px;
  align-content: center;
}
@media screen and (max-width: 1023px) {
  .likes_list {
    justify-content: start;
    gap: 30px;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 767px) {
    .likes_list {
      gap: 30px 15px;
    }
  }
}
/* strengths */
.strengths_list {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.strengths_item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border: 3px solid var(--maincolor);
  border-radius: 10px;
  background-color: #fff;
  width: 315px;
  height: 280px;
}
.strengths_topic {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.4rem;
  height: 72px;
  align-content: center;
}
.strengths_item p {
  font-size: 1.6rem;
  font-weight: 400;
}
.strengths_item img {
  width: 40px;
  aspect-ratio: 1/1;
  margin: 0 auto;
}
ul li {
  font-family: "Zen Maru Gothic", sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 400;
}
@media screen and (max-width: 1023px) {
  .strengths_item {
    width: 220px;
    height: 390px;
  }
  .strengths_topic {
    height: 108px;
  }
  @media screen and (max-width: 767px) {
    .strengths_list {
      flex-direction: column;
      gap: 30px;
    }
    .strengths_item {
      width: 315px;
      height: 280px;
    }
  }
}
/* skills */
.skills_list {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 30px;
}
.skills_item {
  width: 485px;
}
.skills_item--top {
  display: flex;
  align-items: center;
  gap: 30px;
}
.skills_item p {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.skills_item--bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid var(--maincolor);
  border-radius: 30px;
  position: relative;
}
.skills_item--bottom p {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.barometer {
  width: 100%;
  height: 40px;
  background-color: var(--maincolor);
  border: 3px solid var(--maincolor);
  border-radius: 30px;
}
.barometer--80 {
  width: 80%;
}
.barometer--70 {
  width: 70%;
}
.barometer--60 {
  width: 60%;
}
.barometer--50 {
  width: 50%;
}
@media screen and (max-width: 1023px) {
  .skills_item {
    width: 335px;
  }
  .skills_list {
    gap: 30px;
  }
  @media screen and (max-width: 767px) {
    .skills_item {
      width: 315px;
    }
  }
}

/* works */
#works {
  margin-top: 150px;
}
.works_list {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.works_item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 485px;
}
.works_img {
  width: 100%;
  aspect-ratio: 1.6/1;
}
.works_item p {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  text-align: center;
}
.works_item div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.works_item div img {
  rotate: -90deg;
}
@media screen and (max-width: 1023px) {
  .works_list {
    flex-direction: column;
    gap: 50px;
  }
  @media screen and (max-width: 767px) {
    .works_item {
      width: 315px;
    }
  }
}

/* footer */
footer {
  margin: 150px 0 30px;
  text-align: center;
  border-top: 10px solid var(--maincolor);
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.footerName {
  font-size: 4.8rem;
  font-family: "Lato", sans-serif;
}
footer div p {
  font-size: 2rem;
}
footer div a {
  margin: 30px auto 0;
}
footer div a p {
  font-size: 2.4rem;
}
small {
  font-family: "Lato", sans-serif;
}
