@charset "UTF-8";
.color_item--base {
  background-color: #fff;
}
.color_item--main {
  background-color: #a52a2a;
}
.color_item--add {
  background-color: #87ceeb;
}
.color_item--fin {
  background-color: #ffd700;
}
.color_item--show {
  background-color: #7fffd4;
}
.points_img img, .points_item img {
  width: 450px;
}
@media screen and (max-width: 1023px) {
  .points_img img {
    width: 335px;
    aspect-ratio: 450/300;
  }
  @media screen and (max-width: 767px) {
    .points_img img, .points_item img {
      width: 315px;
    }
  }
}
